<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OppenheimerProjectSuite">
<test name="UITestInChrome">
      <parameter name="browser" value="Chrome"/>
      <classes>
      <class name="com.app.test.TC_UI_UserStory3"></class>
         <class name="com.app.test.TC_UI_UserStory5"></class>
      </classes>
      </test>
       <test name="APITest">
      <classes>
         <class name="com.app.test.TC_API_UserStory1"></class>
         <class name="com.app.test.TC_API_UserStory2"></class>
		   <class name="com.app.test.TC_API_UserStory4"></class>
      </classes>
      </test>
        

</suite>
